$white: #fff;
$black: #000;
$yellow: #f9c201;
$yellow-accent: #efd167;
$text-color: #585858;
$primary-color: #84a878;
$heading-color: #2d2d2d;
$secondary-color: #9ab98f;
$marker-green-color: #50b22f;
$form-grey-color: #f4f4f4;
$body-background: $white;
$required-and-error: #b65c5c;

// $main-gradient: linear-gradient(89.97deg, #9056ec 0.58%, #bb8fff 79.26%);
// $faq-gradient: linear-gradient(89.97deg, #fdd65b 0.58%, #f28a0c 99.97%);

$desktop-min-xl: "min-width: 1200px";
$desktop-max: "max-width: 1199.98px";
$desktop-min: "min-width: 992px";
$tablet-max: "max-width: 991.98px";
$tablet-mid: "min-width: 768px";
$tablet-mad: "max-width: 767.98px";
$tablet-min: "min-width: 576px";
$mobile-max: "max-width: 575.98px";

$font-family: "Montserrat", sans-serif;

$transition3: 0.3s ease-out;

$header-top-height: 60px;
$header-middle-height: 110px;
$header-bottom-height: 70px;

$header-height-mobile: 75px;

@import "_nullstyle.scss";
@import "_fonts.scss";
@import "_templates.scss";

%row-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin padding-x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin column-size($size, $margin) {
  flex: 0 1 calc($size - $margin * 2);
  max-width: calc($size - $margin * 2);
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%link-indent {
  margin: -5px;
  padding: 5px;
}

body {
  color: $text-color;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-family;
  background-color: $body-background;
}
.wrapper {
  min-height: 100vh;

  @media ($desktop-min) {
    margin-top: $header-top-height + $header-middle-height +
      $header-bottom-height;
  }
  @media ($tablet-max) {
    margin-top: $header-height-mobile + 30px;
  }
  @media ($mobile-max) {
    margin-top: $header-height-mobile + 20px;
  }
}
.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 70px;
  padding-right: 70px;

  @media ($mobile-max) {
    padding: 0 15px;
  }
}
.row {
  @extend %row-wrapper;

  &:not(.not-default-row) {
    @media ($desktop-min) {
      @include margin-x(-15px);
    }
    @media ($tablet-max) and ($tablet-min) {
      @include margin-x(-7.5px);
    }
  }
  &:not(.not-default-row-mob) {
    @media ($mobile-max) {
      @include margin-x(-7.5px);
    }
  }
  & > * {
    width: 100%;
  }
  & > *:not(.not-default-column) {
    @media ($desktop-min) {
      @include margin-x(15px);
    }
    @media ($tablet-max) and ($tablet-min) {
      @include margin-x(7.5px);
    }
  }
  & > *:not(.not-default-column-mob) {
    @media ($mobile-max) {
      @include margin-x(7.5px);
    }
  }
}
.heading {
  color: $heading-color;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
  font-family: $font-family;
  text-transform: uppercase;

  @media ($tablet-max) and ($tablet-mid) {
    font-size: 30px;
  }
  @media ($tablet-mad) and ($tablet-min) {
    font-size: 26px;
  }
  @media ($mobile-max) {
    font-size: 20px;
  }
}
.logo {
  display: inline-block;

  @media ($desktop-min) {
    transition: transform $transition3;

    &:hover {
      transform: translateY(-2px);
    }
  }
  & svg {
    width: 144px;
    height: auto;
    transition: width $transition3;

    // %header-scrolled & {
    //   width: 139px;
    // }

    // & path {
    //   transition: fill $transition3;

    //   %header-scrolled & {
    //     fill: $scrolled-color;
    //   }
    // }
  }
}
.burger {
  display: none;
  width: 33px;
  height: 19px;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  perspective: 50px;
  background-color: transparent;
  transition: transform $transition3;

  @media ($tablet-max) {
    display: block;
  }

  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 20;
    perspective: 50px;
    border-radius: 3px;
    background-color: $white;
    transition: transform 0.6s ease, opacity $transition3;

    // @media ($tablet-max) {
    //   %menu-opened & {
    //     background-color: $scrolled-color;
    //   }
    // }

    &:nth-child(1) {
      top: 0;

      %menu-opened & {
        transform: translateY(8px) rotateY(180deg) rotateZ(45deg);
      }
    }
    &:nth-child(2) {
      top: 8px;
      transition-delay: 0.2s;

      %menu-opened & {
        transform: rotateY(45deg) rotateZ(90deg);
        opacity: 0;
      }
    }
    &:nth-child(3) {
      top: 16px;
      transition-delay: 0.1s;

      %menu-opened & {
        transform: translateY(-8px) rotateY(180deg) rotateZ(-45deg);
      }
    }

    // %header-scrolled & {
    //   background-color: $scrolled-color;
    // }
  }

  %menu-opened & {
    transform: rotateY(180deg);
  }
  // %header-scrolled%menu-opened & {
  //   transform: rotateY(180deg) translateY(10px);
  // }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(0);
  transition: transform $transition3;

  &._scrolled {
    transform: translateY(-($header-top-height + $header-middle-height));
    //@extend %header-scrolled;
  }
  // &__item {
  // }
}
%header-top-links {
  color: $white;
  line-height: 1.2;
  font-weight: 600;
  text-decoration: none;
}
.header-top {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-color;

  &__item {
    & + & {
      margin-left: 30px;
    }
  }
  &__links-list {
    display: flex;
    line-height: 1;
    align-items: center;
  }
  &__list-item {
    & + & {
      margin-left: 35px;
    }
  }
  &__link {
    font-size: 14px;
    @extend %header-top-links;
  }
  &__about {
    display: flex;
    align-items: center;
  }
  &__about-burger {
    width: 19px;
    height: 12px;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    margin-right: 10px;
    background-color: transparent;
    transition: transform $transition3;

    & span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      z-index: 20;
      border-radius: 3px;
      background-color: $yellow;
      transition: transform 0.6s ease, opacity $transition3;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 5px;
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        top: 10px;
        transition-delay: 0.1s;
      }
    }
  }
  &__our-shops {
    font-size: 16px;
    @extend %header-top-links;
  }
  &__our-shops-icon {
    vertical-align: baseline;
  }
  &__our-shops-label {
    margin-left: 9px;
  }
}
.header-middle {
  display: flex;
  min-height: 110px;
  align-items: center;
  padding-top: 11px;
  justify-content: space-between;
  background-color: $primary-color;

  &__item {
    &:not(&_mobile-only) + & {
      margin-left: 30px;
    }
    &_mobile-only {
      @media ($desktop-min) {
        display: none;
      }
    }
    &_grow {
      flex-grow: 1;
    }
  }
  &__call-request {
    width: 235px;
    max-width: 100%;
  }
}
.contacts {
  display: flex;
  justify-content: space-around;

  &__item {
    & + & {
      margin-left: 30px;
    }
    &:last-child {
      flex-grow: 0.14;
    }
  }
  &__label {
    color: $white;
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 13px;
  }
  &__content {
    font-size: 20px;
    line-height: 1.2;
  }
  &__phone-wrapper {
    display: flex;
    align-items: center;
  }
  &__phone {
    color: $white;
    font-weight: 700;
  }
  &__email {
    color: $yellow;
    font-weight: 700;
  }
  &__timetable {
    color: $white;
    font-weight: 600;
  }
  &__icon {
    width: 20px;
    height: 20px;

    & + span {
      margin-left: 11px;
    }
  }
  &__link {
    color: inherit;
    display: flex;
    text-decoration: none;
    @extend %link-indent;

    & + & {
      margin-left: 6px;
    }
    & span {
      white-space: nowrap;
    }
  }
}
.header-bottom {
  display: flex;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;

  &__item {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 30px;
    }
    &:last-child {
      flex-grow: 1;
    }
  }
  // &__links {
  // }
  &__links-list {
    display: flex;
    line-height: 1;
    align-items: center;
  }
  &__list-item {
    & + & {
      margin-left: 33px;
    }
  }
  &__catalog {
    display: flex;
    align-items: center;
    color: $yellow;
  }
  &__catalog-burger {
    width: 19px;
    height: 12px;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    margin-right: 10px;
    background-color: transparent;
    transition: transform $transition3;

    & span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      z-index: 20;
      border-radius: 3px;
      background-color: $yellow;
      transition: transform 0.6s ease, opacity $transition3;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 5px;
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        top: 10px;
        transition-delay: 0.1s;
      }
    }
  }
  &__link {
    // font-size: 15px;
    @extend %header-top-links;
  }
  &__search {
    flex-grow: 1;
    max-width: 588px;
    margin-left: auto;
  }
  &__features {
    display: flex;
    margin-left: 25px;
    align-items: center;
  }
  &__feature-item {
    position: relative;

    & + & {
      margin-left: 4px;
      padding-top: 2px;
    }
  }
  &__feature-link {
    color: $white;
    width: 40px;
    height: 40px;
    text-decoration: none;
    @extend %flex-center;
  }
  &__number {
    position: absolute;
    top: 0;
    right: 5px;
    color: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    transform: translateX(50%);
    @extend %header-bottom-number;
  }
  &__comparison {
    text-decoration: none;

    & %header-bottom-number {
      right: 1px;
    }
  }
  &__wishlist {
    text-decoration: none;

    & %header-bottom-number {
      right: 2px;
    }
  }
  &__cart {
    border: none;
    padding: 0;
    background-color: transparent;
  }
  // &__feature-icon {
  // }
}
.search-form {
  color: $white;
  position: relative;

  // &__label {
  // }
  &__input {
    color: inherit;
    width: 100%;
    border: none;
    padding: 13px 50px 12px 35px;
    font-size: 12px;
    min-width: 200px;
    line-height: 1.25;
    background-color: #9ab98f;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.05);

    &::placeholder {
      color: inherit;
      opacity: 1;
    }
  }
  &__button {
    top: 0;
    right: 0;
    width: 50px;
    color: inherit;
    height: 100%;
    border: none;
    padding: 0;
    position: absolute;
    background-color: transparent;
  }
  &__button-icon {
    width: 20px;
    height: 20px;
  }
}
.main-banner {
  &__slide {
    display: flex;
    position: relative;
    min-height: 650px;
    align-items: center;
  }
  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.31);
    }
  }
  // &__image {
  // }
  &__container {
    width: 100%;
    max-width: 1320px;
  }
  &__content {
    color: $white;
    position: relative;
    padding-bottom: 9px;
  }
  &__heading {
    color: inherit;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.225;
    margin-bottom: 62px;
    text-transform: none;
  }
  &__button {
    padding: 15px 37px;
    border: 2px solid $white;
    background-color: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &:focus-visible {
      @include focus-styles;
    }
  }
  &__progress {
    display: flex;
    margin-top: 110px;
  }
  &__progress-item {
    flex: 1;

    & + & {
      margin-left: 30px;
    }
    &:nth-child(1) {
      @extend %first-progress-item;
    }
    &:nth-child(2) {
      @extend %second-progress-item;
    }
    &:nth-child(3) {
      @extend %third-progress-item;
    }
  }
  &__progress-content {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.36;
  }
  &__progress-value {
    color: $yellow-accent;
    display: block;
    position: relative;
    font-size: 50px;
    transform: translateX(0);
    font-weight: 700;
    animation: 9s ease-out 0s forwards infinite running main-banner-value;

    %first-progress-item & {
      animation-delay: 0s;
    }
    %second-progress-item & {
      animation-delay: 3s;
    }
    %third-progress-item & {
      animation-delay: 6s;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -35px;
      width: 35px;
      height: 100%;
      opacity: 0;
      transform: translateX(0);
      animation: 9s ease-out 0s forwards infinite running main-banner-chevron;
      background: url("../images/icons.svg#chevron-right") left center/100% auto
        no-repeat transparent;

      %first-progress-item & {
        animation-delay: 0s;
      }
      %second-progress-item & {
        animation-delay: 3s;
      }
      %third-progress-item & {
        animation-delay: 6s;
      }
    }
  }
}
.main-filter {
  margin-top: 50px;

  &__container {
  }
  &__items {
    @extend %row-wrapper;
  }
  &__item {
    &:nth-child(odd) {
      @include column-size(39.1%, 0px);
    }
    &:nth-child(even) {
      @include column-size(60.9%, 0px);
    }
  }
  &__door {
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    background: url("../images/icons.svg#wave") 16px 60% / 196px auto no-repeat
      $white;
  }
  &__door-image-wrapper {
    height: 146px;
    margin: 0 23px;
    flex-basis: 146px;
  }
  &__door-image {
  }
  &__door-content {
    margin-left: 12px;
    margin-right: 15px;
  }
  &__door-heading {
    font-weight: 600;
  }
  &__description {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.2;
  }
  &__doors-wrapper {
  }
  &__doors-image {
  }
}
.mft {
  height: 100%;
  display: flex;
  padding: 40px 84px 22px;
  background-color: $primary-color;

  &__item-wrapper {
    margin: 0;
    border: none;
    padding: 0;

    & %form-input {
      width: auto;
      max-width: 112px;
      flex-basis: 112px;
    }
    & %form-item {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 1 0 auto;

    & + & {
      margin-left: 50px;
    }
    & %form-item {
      display: flex;
    }
    & %form-input {
      &[type="radio"] + label {
        flex: 1 0 50%;
        cursor: pointer;
        padding: 0 17px;
        font-size: 16px;
        @extend %flex-center;
        @extend %f-item-element;
      }
      &[type="radio"]:checked {
        & + label {
          background-color: $yellow;
        }
      }
    }
    & %form-select {
      font-size: 14px;
      padding: 0 24px;
    }
  }
  &__heading {
    color: $white;
    display: block;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 13px;
  }
}

%f-item-element {
  border: none;
  background-color: $white;
}

.form {
  &__row {
    @include margin-x(-7.5px);
  }

  &__item {
    position: relative;
    @extend %form-item;

    & > * {
      min-height: 45px;
    }

    %f-checkbox-pseudo {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 22px;
      height: 22px;
      display: block;
    }
  }
  &__label {
    height: 45px;
    font-size: 14px;
    line-height: 1.375;

    &[aria-hidden="true"] {
      display: none;
    }
    &_placeholder {
      position: absolute;
      font-size: 14px;
      color: $text-color;
      top: 14px;
      left: 25px;
      cursor: default;
      user-select: none;
      pointer-events: none;
      transform-origin: left top;
      transition: transform $transition3, color $transition3;
      transform: translate(0, 0) scale(1);

      &_active {
        color: $white;
        transform: translate(-22px, -34px) scale(0.75);
      }
    }
  }
  &__input {
    width: 100%;
    color: $text-color;
    @extend %f-item-element;
    @extend %form-input;

    @media ($tablet-max) {
      font-size: 15px;
    }
    @media ($tablet-min) {
      padding: 0 17px;
    }
    @media ($mobile-max) {
      font-size: 14px;
    }
    &[aria-hidden="true"] {
      width: 1px;
    }

    &[type="file"] {
      & ~ label {
        width: 100%;
        color: $text-color;
        cursor: pointer;
        display: block;
        @extend %f-item-element;
        background: url("../images/form-file-icon.svg") 98% 15px/15px auto
          no-repeat $white;
        background-position: right 15px top 18px;

        @media ($tablet-max) {
          font-size: 15px;
        }
        @media ($tablet-min) {
          padding: 15px 15px 15px 25px;
        }
        @media ($mobile-max) {
          padding: 13px 29px;
          font-size: 14px;
        }
      }
    }
    &[type="radio"] {
      &:focus-visible {
        & + label {
          @include focus-styles($color: $white);
        }
      }
    }
    &_error%form-input {
      box-shadow: 0 0 10px $required-and-error;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &_valid%form-input {
      background: url("../images/valid-icon.svg") 98% 17px/17px auto no-repeat
        $white;
      background-position: right 15px top 18px;
    }

    &::placeholder {
      color: $text-color;
      opacity: 1;
    }
    &::-webkit-input-placeholder {
      color: $text-color;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: $text-color;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $text-color;
      opacity: 1;
    }
  }
  &__select {
    @extend %f-item-element;
    width: 100%;
    color: inherit;
    padding: 0 17px;
    appearance: none;
    background: url("../images/icons.svg#chevron-down") right 15px center/16px
    auto no-repeat $white;

    @extend %form-select;

    &::-ms-expand {
      display: none;
    }
    & * {
      width: 100%;
      border: none;
      padding: 3px 17px;

      &:hover {
        background-color: $yellow;
      }
    }
  }
  & textarea%form-input {
    margin: 0;
    resize: none;

    @media ($tablet-min) {
      min-height: 113px;
    }
    @media ($mobile-max) {
      min-height: 93px;
    }
  }
  &__slider {
    width: 100%;
  }
  // &__checkbox {
  //   & ~ label {
  //     color: $white;
  //     cursor: pointer;
  //     display: block;
  //     position: relative;
  //     font-size: 15px;
  //     padding-left: 36px;

  //     &:before {
  //       @extend %f-item-element;
  //       @extend %f-checkbox-pseudo;
  //     }
  //     &:after {
  //       @extend %f-checkbox-pseudo;
  //       opacity: 0;
  //       background: url("../images/check.svg") 6px 3px / auto no-repeat
  //         transparent;
  //       transition: opacity $transition3, background-position $transition3;
  //     }
  //   }
  //   &:focus,
  //   &:focus-visible {
  //     & ~ label {
  //       &:before {
  //         @include focus-styles;
  //       }
  //     }
  //   }
  //   &:focus:not(:focus-visible) {
  //     & ~ label {
  //       &:before {
  //         @extend %focus-styles-disable;
  //       }
  //     }
  //   }
  //   &:checked {
  //     & ~ label {
  //       &:after {
  //         opacity: 1;
  //         background-position: 6px 5px;
  //       }
  //     }
  //   }
  // }
  &__error-message {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-shadow: 0 1px 3px $required-and-error;

    @media ($mobile-max) {
      font-size: 13px;
      margin-bottom: 0;
      padding-bottom: 3px;
    }

    &_active {
      margin: 5px 0 -5px;

      @media ($tablet-max) {
        margin-bottom: 0;
      }
    }
  }
  &__button-wrapper {
    display: flex;
    justify-content: space-between;

    @media ($desktop-min) {
      align-items: center;
    }
    @media ($tablet-max) {
      flex-direction: column-reverse;
    }
  }
  &__personal-data {
    color: $white;
    font-size: 12px;

    @media ($tablet-max) {
      color: #fff;
      margin: 0 auto;
      font-size: 12px;
      max-width: 250px;
      text-align: center;
    }

    a {
      color: inherit;
      text-decoration: underline;

      @media ($desktop-min) {
        transition: color $transition3;

        &:hover {
          color: $white;
        }
      }
    }
  }
  &__button {
    min-width: 169px;
    font-size: 14px;
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    @media ($desktop-min) {
      margin-right: 20px;
    }
    @media ($tablet-max) {
      margin-top: 25px;
      align-self: center;
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1030;
  display: block;
  visibility: hidden;
  background-color: rgba(86, 43, 157, 0.39); //rgba(0, 0, 0, 0.2);
  transition: opacity $transition3, visibility $transition3;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 1000;
  padding: 28px 34px 30px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  min-width: 250px;
  text-align: center;
  visibility: hidden;
  border-radius: 9px;
  background-color: $white;
  transition: opacity $transition3, visibility $transition3;

  &_active {
    z-index: 1050;
    opacity: 1;
    visibility: visible;
  }
  &__close {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    @extend %flex-center;
    // filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));

    &%my-gallery-close-pseudo {
      content: "";
      width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      background-color: $yellow;
    }
    &:before {
      @extend %my-gallery-close-pseudo;
      transform: rotate(-45deg);
    }
    &:after {
      @extend %my-gallery-close-pseudo;
      transform: rotate(45deg);
    }
  }
}
.thank-you-popup {
  span {
    margin: 30px;
    display: block;
  }
  hr {
    border: none;
    margin: 5px 0 5px;
    opacity: 0.3;
    border-bottom: 2px solid $yellow;
  }
}
.top-up-popup {
  max-width: 537px;

  @media ($tablet-max) and ($tablet-min) {
    min-width: 370px;
  }
  @media ($mobile-max) {
    width: calc(100% - 30px);
    padding: 23px 24px 25px;
    min-width: 290px;
    max-width: 360px;
  }

  &__heading {
    @media ($tablet-min) {
      font-size: 22px;
    }
    @media ($mobile-max) {
      font-size: 18px;
    }
  }
  .form {
    @media ($tablet-min) {
      margin-top: 30px;
    }
    @media ($mobile-max) {
      margin-top: 20px;
    }

    &__item {
      &_half {
        @media ($desktop-min) {
          @include column-size(50%, 7.5px);
        }
      }
    }
    &__input {
      font-size: 14px;
      background-color: $form-grey-color;

      &[type="file"] {
        & ~ label {
          text-align: left;
          background-color: $form-grey-color;
        }
      }
      &:focus-visible {
        box-shadow: 0 0 10px $secondary-color !important;
      }
    }
    & textarea%form-input {
      min-height: 95px;
    }
    &__button {
      width: 100%;
      color: $white;
      background-color: $yellow;
    }
  }
}
@import "_mygallery.scss";
